/************************************
		HTML Initial Setup
*************************************/
*{
	margin: 0;
}

html{
	width: 100%;
	height: 100%;
	/*min-width: 1300px;*/
	/* Use Responsive or Not to use Responsive ?*/
}

body{
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}

body.index{
	background-color: #006a6a;
}

.full_wrap{
	min-height: 100%; /*Important to use min height instead of height*/
}

.exception_wrap{
	background-color: #ffffff;
}
/************************************
			Header & Logo
*************************************/
.header{
	height: 40px;
	padding: 20px;
	background-color: #5d8aa8;
}

.logo{
	margin-top:5px;
	text-align: center;
}

.logo img{
	max-width: 100%;
    height: auto;	
}
/************************************
			Navigation Bar
*************************************/
.navbar{
	height: 24px;
	margin: 0px auto 0px auto;
	padding: 10px;
	background-color: #5d8aa8;
	line-height: 25px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	border-top: 2px solid #08ffff;
}

ul li{
	display: inline-block;
	margin:0px 20px 0px 0px;
}

ul li a{
	text-decoration:none;
	color: #ffffff;
	font-size: 13pt;
}

.underline_hover {
	display: inline-block;
	-webkit-transform: translateZ(0);
	overflow: hidden;
}

.underline_hover:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #eeffff;
	height: 3px;
	border-radius: 3px;
	transform: translateY(4px);
	transition-duration: 0.3s;
}

.underline_hover:hover:before, .underline_hover:focus:before, .underline_hover:active:before {
	transform: translateY(0);
}
/************************************
			  Footer
*************************************/
.footer{
	height: 150px;
	padding: 40px;
	background-color: #5d8aa8;
	font-family: 'Lato', sans-serif;
}

.footer a{
	text-decoration: none;
	color: #f0ffff;
}

.left_footer_wrapper{
	margin: 20px 0px 0px 0px;
	float: left;
}

.footer_phone{
	width: 250px;
	color: #f0ffff;
	font-size: 15pt;
}

.footer_phone img{
	margin:0px 5px 0px 0px;
	line-height: 50px;
}

.footer_phone p{
	line-height: 35px;
}

.footer_mail{
	width: 280px;
	color: #f0ffff;
	margin: 50px 0px 0px 0px;
	font-size: 15pt;
}

.footer_mail img{
	margin: 0px 10px 0px 0px;
}

.footer_location{
	width: 220px;
	margin: 40px 0px 0px 0px;
	float: right;
	color: #f0ffff;
	font-size: 15pt;
	font-family: 'Lato', sans-serif;
}

.footer_location img{
	margin: 19px 20px 0px 0px;
}
/************************************
			index.php
*************************************/
.index_projects_parents{
	width: 1370px;
	height: 2000px;
	margin: 30px auto 30px auto;
	background-color: #006a6a;
	position: relative;
	overflow: hidden;
}

.index_projects_parents h3{
	width: 1200px;
	margin: 15px auto 0px auto;
	padding: 10px;
	color: #ffffff;
	border-top: 1px solid #ef6;
	border-bottom: 1px solid #ef6;
	text-align: center;
	font-size: 12pt;
	font-family: 'Raleway', sans-serif;
}

.index_projects_parents img{
	height: auto;
}

.index_projects_1{
	position: absolute;
	top: 70px;	
	left: 60px;
}

.index_projects_1 h2{
	position: absolute;
	top: 50px;
	left: 0px;
	font-size: 13pt;
	font-family: 'Lato', sans-serif;
}

.index_projects_1 h2 span{
	color: #ffffff;
	letter-spacing: 1px;
	background: rgba(0,0,0,0.7);
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	padding: 10px;
}

.index_projects_2{
	position: absolute;
	top: 80px;
	left: 485px;
}

.index_projects_2 h2{
	position: absolute;
	top: 40px;
	left: 0px;
	font-size: 13pt;
	font-family: 'Lato', sans-serif;
}

.index_projects_2 h2 span{
	padding: 10px;
	color: #ffffff;
	letter-spacing: 1px;
	background: rgba(0,0,0,0.7);
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.index_projects_3{
	position: absolute;
	top: 70px;
	left: 910px;
}

.index_projects_3 h2{
	width: 500px;
	position: absolute;
	top: 50px;
	left: 0px;
	font-size: 13pt;
	font-family: 'Lato', sans-serif;
}

.index_projects_3 h2 span{
	padding: 10px;
	color: #ffffff;
	letter-spacing: 1px;
	background: rgba(0,0,0,0.7);
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.index_projects_4{
	position: absolute;
	top: 390px;
	left: 300px;
}

.index_projects_4 h2{
	width: 400px;
	position: absolute;
	top: 50px;
	left: 0px;
	font-size: 13pt;
	font-family: 'Lato', sans-serif;
}

.index_projects_4 h2 span{
	padding: 10px;
	color: #ffffff;
	letter-spacing: 1px;
	background: rgba(0,0,0,0.7);
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.crane_range{
	margin: 800px auto 0px auto;
	width: 1300px;
	color: #ffffff;
	background-color: #006a6a;
	font-family: 'Raleway', sans-serif;
}

.crane_range h3{
	padding: 10px;
	text-align: center;
	border-top: 1px solid #ef6;
	border-bottom: 1px solid #ef6;
}

.crane_range p{
	padding: 10px 0px 10px 10px;
	line-height: 30px;
	font-size: 14pt;
	text-align: center;
}

.achievement{
	height: 1000px;
	background-color: #e65;
	margin: 100px 0px 0px 0px;
}
/************************************
			services.php
*************************************/

/************************************
			portfolio.php
*************************************/
.portfolio{
	width: 1000px;
	margin: 50px auto 50px auto;
	padding: 0px 0px 50px 0px;
	background-color: #73a9c2;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.portfolio h3{
	margin: 0px 0px 40px 0px;
	padding: 10px;
	color: #f0ffff;
	background-color: #73a9c2;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 16pt;
	font-family: 'Raleway', sans-serif;
}

.portfolio img{
	padding: 5px 10px 0px 0px;
}
/************************************
			about_us.php
*************************************/
.founder{
	width: 1000px;
	height: 950px;
	margin: 50px auto 50px auto;
	padding: 10px;
	background-color: #395f5f;
	border-radius: 10px;
	font-family: 'Raleway', sans-serif;
}

.founder h3{
	width: 500px;
	margin: 0px auto 0px auto;
	padding: 20px;
	color: #ffffff;
	text-align: center;
	font-size: 15pt;
}

.founder img{
	width: 300px;
	margin: 20px 10px 0px 10px;
}

.founder p{
	margin: 20px 10px 0px 30px;
	font-size: 11pt;
	line-height: 22px;
}

.founder p::first-letter{
	font-size: 50pt;
	color: #ff1a1a;
	padding: 0px 0px 0px 40px;
}

.founder p{
	margin: 35px 0px 0px 0px;
	color: #ffffff;
}

.founder span{
	padding: 0px 5px 0px 0px;
	float: right;
	font-size: 13pt;
}
/************************************
			contact.php
*************************************/
/*.contact_form{
	width: 650px;
	height: 500px;
	margin: 50px auto 100px auto;
	background-color: #f0f8ff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.contact_form h3{
	padding: 10px;
	color: #efefef;
	background-color: #359293;
	text-align: center;
	font-size: 18pt;
	line-height: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-family: 'Lato', sans-serif;
}*/

.google_map{
	width: 650px;
	height: 450px;
	margin: 50px auto 100px auto;
	/*border-top-left-radius: 10px;*/
	/*border-top-right-radius: 10px;	*/
	font-family: 'Lato', sans-serif;
}

.google_map h3{
	padding: 10px;
	color: #ffffff;
	background-color: #0099ff;
	line-height: 20px;
	text-align: center;
	/*border-top-left-radius: 10px;*/
	/*border-top-right-radius: 10px;*/
	font-size: 13pt;
}
